$bg-gen: linear-gradient(
  148.74deg,
  rgba(71, 79, 255) 2.49%,
  rgba(89, 84, 249) 13.34%,
  rgb(227, 122, 204) 99.05%
);
$bg-dashboard: #f5f5f5;
$bg-dashboard-content-main: #f1f5f7;

$clr-bg-active: #ffa500;
$clr-white: #fff;
$clr-grey: #5d5b5b;
$clr-border: #5d5b5b;
$clr-accepted: #2dcd7a;
$clr-rejected: #ef3672;
$primary: #ffffff;
$secondary: #1d0042;
$third: #616167;
$four: #000000;
$five: #7e72f2;
$six: #c2c7f7c2;
$seven: #f8a170;
$height: #882bff;
$nine: #9147ff;

$fs-h1: calc(0.5em + 3vw);
$fs-h2: calc(0.5em + 1vw);
$fs-p: calc(0.5em + 0.5vw);

$transition-default: all 300ms ease-in-out;
