@import "variables.scss";

.main-content-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100vw;

  .content-top-left {
    display: flex;
    align-items: center;
    margin: 16px 12px;
    img {
      width: 22px;
      cursor: pointer;
    }

    .content-top-title {
      font-size: 20px;
      font-weight: 600;
      margin-left: 16px;
      color: $clr-grey;
    }
  }
}
