@import "./variables.scss";

.crechedetails {
  list-style: none;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .creche-title {
    color: $primary;
    display: flex;
    margin: 0.8rem 0 0 1.2rem;
    align-items: center;
    font-size: 1.5rem;
  }

  .creche-container {
    display: grid;
    width: 90%;
    margin: auto;

    .creche-img {
      width: 100%;
    }

    .creche-description {
      margin-top: -38px;
      background: $primary;
      border-radius: 0.2rem;

      .creche-reservation {
        margin-left: 1.2rem;
        color: $secondary;
        font-size: 22px;
        display: flex;
        justify-content: space-between;

        .icon-info {
          width: 8%;
          margin-right: 0.7rem;
          color: #882bff;
          border: none;
          background-color: transparent;
        }

        .popup {
          position: fixed;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: white;
          padding: 20px;
          border: 1px solid #ccc;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          z-index: 1000;
        }

        .popup a {
          font-size: 1.5rem;
          text-align: center;
        }

        .popup button {
          display: flex;
          background-color: #007bff;
          color: white;
          margin-top: 0.5rem;
          margin-left: auto;
          margin-right: auto;
          padding: 10px 15px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }
      }

      .creche-date {
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
        color: $secondary;
        list-style: none;
        margin-left: 1.2rem;
        margin-top: 0.1rem;

        li {
          display: flex;
          justify-content: space-between;
          margin-right: 1rem;
          span {
            color: green;
          }
        }
      }

      .activities {
        display: grid;
        grid-template-columns: 10% 50%;
        align-items: center;
        margin-top: 1rem;
        gap: 0.5rem;
        color: grey;
        margin-left: 1.2rem;

        img {
          width: 55%;
        }
      }

      .indemnities {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin-left: 1.2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        gap: 0.8rem;

        .indemnities-r {
          margin-top: 0.2rem;
        }

        .indemnities-r,
        .indemnities-l {
          display: flex;
          justify-content: space-between;
          margin-right: 0.5rem;
        }

        .slider {
          position: relative;
          width: 65px;
          height: 1.5rem;
          background-color: #882bff;
          color: white;
          cursor: pointer;
          border-radius: 34px;
        }
      }

      .tarif-button {
        display: flex;
        margin-right: 1rem;
        margin-bottom: 0.5rem;

        .price {
          list-style: none;
          color: $secondary;
          font-size: 1.7rem;
          margin: auto;

          .note {
            font-size: 0.6rem;
          }
        }

        .btn-detail {
          border: 1px solid $seven;
          background: $height;
          color: $primary;
          width: 100%;
          padding: 15px 20px;
          font-size: 22px;
          border-radius: 13px;
          height: 100%;
        }
      }
    }
  }

  .reminder {
    color: white;
    font-size: 0.8rem;
    margin-left: 1.2rem;
    margin-bottom: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 767px) {
  .crechedetails {
    .creche-container {
      display: grid;
      max-width: 400px;
      .creche-description {
        margin-top: -55px;
      }

      .activities {
        width: 50%;
      }

      .tarif-button {
        display: flex;
        margin-bottom: 1rem;
        margin: auto;
        align-items: center;
        justify-content: center;
      }

      .note {
        font-size: 0.6rem;
      }

      .btn-detail {
        margin-right: 10rem;
      }
    }

    .reminder {
      max-width: 400px;
      margin-left: auto;
    }
  }
}
