@import "./variables.scss";

.creche {
  list-style: none;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  .title {
    color: $primary;
    display: flex;
    flex-direction: column;

    h1 {
      margin: 25px 0 10px;
      display: flex;
      align-items: center;
      font-size: 2.1rem;

      img {
        margin: 17px;
      }
    }
    .parentale {
      margin: 0 0 30px 48px;
    }
  }
  .creche_container {
    display: grid;
    width: 92%;
    margin: 0 auto;
    border-radius: 10px;

    .creche_img {
      img {
        width: 100%;
      }
    }

    .creche_description {
      margin-top: -38px;
      background: $primary;

      h2 {
        margin: 17px 0 7px;
        color: $secondary;
        font-size: 22px;
        padding: 0 22px;
      }

      p {
        font-size: 13px;
        color: $secondary;
        text-align: center;
        margin: 0 0 20px 0;
        width: 88%;
        padding: 0 22px;
      }
    }

    .days_box {
      background: $six;
      display: grid;
      grid-template-columns: 13% 87%;
      height: 77px;
      margin: 0 auto;
      width: 97%;

      img {
        margin: 8px 0 0 6px;
      }

      ul {
        margin: 5px 0;
        li {
          color: $secondary;
          font-size: 14px;
        }
      }
    }

    .disponibility {
      ul {
        padding: 0 22px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        li {
          text-align: center;
          margin: 5px;
          border: 1px solid $four;
          font-size: 14px;
        }
      }
    }

    .experiences {
      .experiences_box {
        padding: 0 22px;
        display: grid;
        grid-template-columns: 13% 85%;
        align-items: center;
      }
    }

    .accueil {
      .accueil_box {
        padding: 0 22px;
        display: grid;
        grid-template-columns: 13% 85%;
        align-items: center;
      }
    }

    .activities {
      .activities_box {
        padding: 0 22px;
        display: grid;
        grid-template-columns: 13% 85%;
        align-items: center;
      }
    }

    .tarif_button {
      margin: 25px 0;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .price {
        color: $secondary;
        h5 {
          font-size: 22px;
        }
        span {
          font-size: 10px;
        }
      }

      button {
        width: 150px;
        border: 1px solid $seven;
        background: $height;
        color: $primary;
        padding: 20px 0;
        font-size: 22px;
        border-radius: 13px;
      }
    }
  }

  .reminder {
    color: $primary;
    margin: 0 15px;

    .reminder_box {
      margin: 35px 0;
    }
  }
}
