@import "./variables.scss";

.InscriptionDoc {
  // width: 90vw;
  .childs {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;

    .child_doc {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0 0 1.8rem;

      button {
        padding: 0.4rem;
        border-radius: 0.8rem;
        border: 0.2px solid $height;
        font-weight: 600;
        background: transparent;
        cursor: pointer;

        &:first-child {
          background: $height;
          color: $primary;
          font-weight: 800;
        }
      }
    }

    form {
      width: 80%;
      margin: 0 auto;

      div {
        display: flex;
        gap: 30px;
        align-items: center;

        label {
          cursor: pointer;
          stroke-dasharray: 70.5096664428711 9999999;
          stroke-dashoffset: -262.2723388671875;
          input {
            display: none;
          }

          svg {
            overflow: visible;

            width: 1.5rem;

            .path {
              fill: none;
              stroke: $orangeFred;
              stroke-width: 5;
              stroke-linecap: round;
              stroke-linejoin: round;
              transition:
                stroke-dasharray 0.5s ease,
                stroke-dashoffset 0.5s ease;
              stroke-dasharray: 241 9999999;
              stroke-dashoffset: 0;
            }
          }
          & input:checked ~ svg .path {
            stroke-dasharray: 70.5096664428711 9999999;
            stroke-dashoffset: -262.2723388671875;
          }
        }

        input {
          padding: 8px;
          margin: 0.35rem 0;
          border: 0.1rem solid $six;

          &:first-child {
            width: 20px;
          }

          &:focus {
            outline: none;
            border: 1px solid $childColor;
          }
        }
      }
    }

    .send {
      padding: 0.123rem 0.77rem;
      border: 1px solid $six;
      background: $orangeFred;
      border-radius: 0.78rem;
      color: $primary;
      margin-bottom: 20px;
      font-weight: 600;
      cursor: pointer;
      margin-bottom: 20px;

      &:hover {
        transform: scale(0.9);
        transition: all 0.3s ease;
      }
      &:active {
        background: $clr-accepted;
      }
    }
  }
}
