@import "./variables.scss";

section {
  h2 {
    margin: 40px 20px;
  }
  .Inscription_doc {
    width: 80%;
    margin: 0 auto;
    form {
      display: flex;
      flex-direction: column;

      div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0.33rem;

        input {
          padding: 0.35rem;
          outline: none;
          border: none;

          &:focus {
            outline: 1px solid $clr-rejected;
          }
        }
      }
    }
  }
}
