@import "variables.scss";
.folders {
  min-height: 100svh;
  margin: auto;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: $primary;
  align-items: center;
  img {
    width: 175px;
    height: 175px;
    object-fit: cover;
    padding: 20px;
    margin-top: 30px;
    border-radius: 50%;
  }
  h2 {
    font-size: 22.5px;
    text-align: center;
    font-weight: 200;
  }
  h3 {
    width: 80%;
    text-align: center;
    font-size: 15px;
  }
  .profile_sentence {
    width: 80%;
    letter-spacing: 0.05em;
    text-align: center;
  }
  button {
    width: 35%;
    background: rgba($color: $orangeFred, $alpha: 0.8);
    font-size: 1rem;
    font-weight: bolder;
    border-style: none;
    color: $primary;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      text-decoration: underline;
      background: rgba($color: $orangeFred, $alpha: 1);
    }
  }
  a {
    text-decoration: none;
    color: $primary;
    width: 90%;
    .children,
    .parents,
    .inscription {
      height: 75px;
      border-radius: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 30px;
      line-height: 1.5;
      cursor: pointer;
      span {
        text-align: end;
      }
    }
  }
  .children {
    background: linear-gradient(
      90deg,
      rgba(0, 212, 255, 0.85) 10%,
      rgba(0, 212, 255, 0.2665441176470589) 10%
    );
  }
  .parents {
    background: linear-gradient(
      90deg,
      rgba(66, 236, 163, 0.85) 20%,
      rgba(66, 236, 163, 0.2413340336134454) 20%
    );
  }
  .inscription {
    background: linear-gradient(
      90deg,
      rgba(244, 120, 127, 0.85) 10%,
      rgba(244, 120, 127, 0.2413340336134454) 10%
    );
  }
}
