@import "./variables.scss";

.homeContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.logo {
  width: 300px;
  height: auto;
  margin: 5vh 0;
}

.choiceConnection {
  color: $primary;
  margin-bottom: 5vh;
}

.buttons {
  margin-bottom: 10vh;
}

.espaceBtn {
  width: 200px;
  height: auto;
  border: none;
  color: $primary;
  margin: 0 5vw;
  cursor: pointer;
  background-color: rgba($color: $orangeFred, $alpha: 0.8);
  font-size: 18px;
  font-weight: bolder;
  text-decoration: underline;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
}

.imgConnexion {
  width: 450px;
}

//Media queries 1024px, 768px
@media screen and (max-width: 500px) {
  .logo {
    width: 100px;
  }
  .imgConnexion {
    width: 250px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
}

@media screen and (min-width: 500px) {
  .choiceConnection {
    font-size: x-large;
  }
}
