@use "./variables.scss" as *;

.modal_box {
  .modala {
    position: fixed;
    top: 45%;
    left: 50%;
    width: 92%;
    margin: auto;
    transform: translate(-50%, -50%);
    background: $primary;
    z-index: 1000;

    .aggrements {
      h2 {
        display: flex;
        align-items: center;

        img {
          margin: 0 10px;
        }
      }

      ul {
        margin: 35px;

        li {
          display: flex;
          span {
            margin: 0 15px;
          }
        }
      }
    }

    .reglement {
      margin: 80px 0 40px;
      h2 {
        display: flex;
        align-items: center;

        img {
          margin: 0 10px;
        }
      }
    }
  }

  form {
    margin: 35px 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;

    label {
      display: flex;
      align-items: center;
      font-size: 0.88rem;
      color: $secondary;
      cursor: pointer;
      stroke-dasharray: 70.5096664428711 9999999;
      stroke-dashoffset: -262.2723388671875;
      input {
        display: none;
      }

      svg {
        overflow: visible;
        margin: 0 15px;
        width: 1.5rem;

        .path {
          fill: none;
          stroke: $orangeFred;
          stroke-width: 5;
          stroke-linecap: round;
          stroke-linejoin: round;
          transition:
            stroke-dasharray 0.5s ease,
            stroke-dashoffset 0.5s ease;
          stroke-dasharray: 241 9999999;
          stroke-dashoffset: 0;
        }
      }
      & input:checked ~ svg .path {
        stroke-dasharray: 70.5096664428711 9999999;
        stroke-dashoffset: -262.2723388671875;
      }
    }
  }

  button {
    position: relative;
    left: 50%;
    bottom: 18px;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0, 0, 0, 0.7);
  }
}
