@import "./variables.scss";

.Notifss {
  text-align: center;
  min-height: calc(95svh - 60px);
  color: $primary;
  .notifPic {
    width: 50px;
    height: auto;
    margin: 5vh 0;
  }

  .profilPicture {
    display: flex;
    align-items: center;
    justify-content: space-around;
    img {
      width: 10rem;
      height: 9rem;
      border-radius: 10rem;
    }
  }
  .centerLogo {
    width: 17%;
    margin: 1rem auto 2.2rem;
    background: $orangeFred;
    border-radius: 5rem;

    img {
      width: 50px;
      height: auto;
      padding: 10px;
    }
  }

  h1 {
    font-size: 36px;
    margin: 0 0 1.21rem;
  }

  p {
    width: 300px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 1.23;
  }

  .status {
    margin-top: 2.4rem;
    display: grid;
    gap: 10px;

    span {
      font-size: 20px;
    }

    button {
      width: 20%;
      margin: 0 auto;
      padding: 0.8rem;
      background: $clr-bg-active;
      border-radius: 1rem;
      border: none;
      font-size: 20px;
      color: $primary;
      cursor: pointer;
    }
  }
}
