@use "_variables.scss";
@use "_mixins.scss";

.parentTutorialContainer {
  display: flex;
  flex-direction: column;
  min-height: 100svh;

  .parentContainer {
    .imgConnexionParent1 {
      display: block;
      margin: 0 auto;
      width: 60%;
      margin-top: 1rem;
    }

    .imgConnexionParent2 {
      display: block;
      margin: 0 auto;
      width: 70%;
    }
  }

  .parentTutorial {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 1rem;
    color: whitesmoke;

    .parentTitle {
      font-size: 1.5rem;
      text-align: center;
    }

    .parentsObject {
      font-size: 1rem;
      text-align: center;
    }
  }

  .parentButton {
    display: flex;

    .previous {
      background-color: transparent;
      border: 0;
      color: whitesmoke;
      padding: 10px;
      font-size: 1rem;
      margin-left: 1rem;

      a {
        color: whitesmoke;
        text-decoration: none;
      }
    }

    .next {
      background-color: transparent;
      color: whitesmoke;
      margin: auto;
      margin-left: 12rem;
      .btn {
        margin-left: 0.5rem;
        padding: 5px 10px;
        font-size: 16px;
        text-align: center;
        border: 0.1rem solid black;
        background-color: rgb(59, 10, 59);
        color: whitesmoke;
        border-radius: 5rem;

        &:hover {
          background-color: whitesmoke;
          color: black;
        }
      }
    }
  }
}
