@import "variables.scss";

.content-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: calc(100vw - 280px);
  gap: 20px;
  padding: 20px;
  background-color: $bg-dashboard-content-main;

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $clr-white;
    border-radius: 8px;
    margin: auto;
    margin-bottom: 1rem;
    padding: 16px;
    box-shadow:
      rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

    &.Accepté {
      background-color: $clr-accepted;
    }

    &.Refusé {
      background-color: $clr-rejected;
    }

    h3 {
      margin-right: 8px;
      margin-bottom: 8px;
      font-size: 18px;
    }

    p {
      margin: 1rem;
      text-align: center;
      font-weight: bold;

      .color-status {
        display: flex;
        font-weight: normal;
        text-align: center;
        &.waiting {
          background-color: $clr-bg-active;
          color: $clr-white;
          padding: 0px 15px;
          border-radius: 0.5rem;
        }
        &.accepted {
          background-color: $clr-accepted;
          color: $clr-white;
          padding: 0px 12px;
          border-radius: 0.5rem;
        }
        &.refused {
          background-color: $clr-rejected;
          color: $clr-white;
          padding: 0px 12px;
          border-radius: 0.5rem;
        }
      }
    }

    .btn_accept_refuse {
      display: flex;
      flex-direction: column;

      .btn-accept {
        display: flex;
        gap: 0.3rem;
        margin-top: 8px;
        padding: 8px 12px;
        border: none;
        border-radius: 1rem;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: $clr-accepted;
        color: $clr-white;
        // margin-right: 8px;

        .icon-button {
          width: 19px;
        }
      }
      .btn-reject {
        display: flex;
        gap: 0.3rem;
        margin-top: 8px;
        padding: 8px 15px;
        border: none;
        border-radius: 1rem;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: $clr-rejected;
        color: $clr-white;

        .icon-button {
          width: 20px;
          margin-right: 3px;
        }
      }
    }

    .btn-modify {
      display: flex;
      gap: 0.3rem;
      margin-top: 8px;
      padding: 10px 13px;
      border: none;
      border-radius: 1rem;
      cursor: pointer;
      background-color: $clr-bg-active;
      color: $clr-white;
      margin-right: 8px;

      .icon-button {
        width: 17px;
      }
    }
  }

  .filters-btn {
    margin-top: 5rem;
    margin-bottom: 1rem;
    button {
      margin: 0.5rem;
      padding: 0.3rem;
      border-radius: 5px;
      font-size: 1rem;
      background: none;
      cursor: pointer;
      &:first-child {
        color: #9489fb;
        border: 2px solid #9489fb;
        padding: 0.3rem 0.6rem;
      }
      &:first-child:hover {
        background-color: #9489fb;
        color: $clr-white;
      }
      &:nth-child(2) {
        color: #ffa84c;
        border: 2px solid #ffa84c;
        padding: 0.3rem 0.6rem;
      }
      &:nth-child(2):hover {
        background-color: #ffa84c;
        color: $clr-white;
      }
      &:nth-child(3) {
        color: grey;
        border: 2px solid grey;
        padding: 0.3rem 0.6rem;
      }
      &:nth-child(3):hover {
        background-color: grey;
        color: $clr-white;
      }
      &:nth-child(4) {
        color: #2dcd7a;
        border: 2px solid #2dcd7a;
        padding: 0.3rem 0.6rem;
      }
      &:nth-child(4):hover {
        background-color: #2dcd7a;
        color: $clr-white;
      }
      &:last-child {
        color: #ea5455;
        border: 2px solid #ea5455;
        padding: 0.3rem 0.6rem;
      }
      &:last-child:hover {
        background-color: #ea5455;
        color: $clr-white;
      }
    }

    .filters-title {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}
@media screen and (min-width: 1600px) {
  .content-main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}
